.what-we-do{
    @extend %inherit-section;
  .icons
  {
    .icon-par{
      min-height: 150px; 
      .centerIcon{
        .bgIcon{
          font-size: 150px;
          position: absolute;
          top:-10px;
          color:rgb(122, 122, 122);
          opacity: 0.05;
        }
      }
    }
    .firstIcon{
      font-size: 60px;
      color: $main-color;
      padding-right: 20px;
    }

    h3{
      font-family: $RalewayBold;
      font-size: 18px;
    }

    p{
      color: $gray-color;
      font-size: $paragraph;
      font-family: $LatoRegular;
    }
  }
}
